{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ pageTitle|default:"AutoCAD CI Machine Manage" }}</title>
  {% load staticfiles%}
  <link rel="stylesheet" href="{% static 'vapor/style.css' %}" type="text/css">
  <!--link rel="shortcut icon" href="{% static 'vapor/favicon.ico' %}"-->
  {% endblock head%}
</head>

<body class="">
  {% block header %}
  <div class="">
    <a href="{% url 'vapor:query'%}">Home</a>
  </div>
  {% endblock header %}
  <hr/>

  <div>
    {% block content %}
    
    {% endblock content %}
  </div>
</body>
</html>

