{% extends "vapor/basic.html" %}

{% block content %}
  {% if instance_list %}
  <table id="t01" >
    <tr>
      <th> Name - Provider ID </th>
      <th> Account </th>
      <th> IP Address </th>
      <th> Description </th>
      <th> Tag </th>
    </tr>
      {% for instance in instance_list %}
      <tr>
        <td text-align="left">{{ instance.Name }} - {{instance.InstanceId}}</td>
        <td>{{ instance.Account }} </td>
        <td>{{ instance.IpAddress }} </td>
        <td>{{ instance.Description }} </td>
        <td>{{ instance.Tag }} </td>
      </tr>
      {% endfor %}
  </table>
  {% else %}
    <p>No instance are available.</p>
  {% endif %}
{% endblock content%}
