table#t01 {
    font-family:Times New Roman;
    width:100%;
    text-align: center;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
    background-color:#fff;
}

table#t01 th {
    background-color: black;
    color: white;
}

th, td {
    padding: 8px;
}











